
body{ font-family: "Helvetica", "Arial", sans-serif; line-height: 1.3; }
header.shopHeader{ background-color: #1b1a20; }
.logo{ color:#fff; text-decoration:none; font-size:28px; font-weight:600; }
.menu-login{ position: absolute; right: 80px; top: 25px; color:#fff; text-decoration: none; }
.menu-login>a{ color:#fff; text-decoration:none;  padding:2px 15px; }
.title{ padding:0 10px ; }
.filterDiv{ padding:20px 15px 10px 15px; }
.offer{ position: relative; font-size:22px; color:#ca3d57; }
.offer::before{ content: ""; position: absolute; left: 0; right: 0; height: 2px; background-color: #000; display: block; bottom: 10px; }

.cartBox{ padding:20px; }
.cartBox>div{ float:left; padding:0 10px; }
.cartBox>div.imgDiv>img{ max-width:100px; }
.sideList{ width:540px; }
.sideList .scroll{ height:90vh; overflow-y: auto; }

.addToCart{ position: relative; }
.addToCart>div{ display: inline-block; font-size: 24px; font-weight: 600;}
.add-card{ float:right; background: #1b1a20 url(../images/upArrow.png) no-repeat center; width: 37px; height: 38px; cursor: pointer; outline: none; }
.remove-card{ background: #1b1a20 url(../images/downArrow.png) no-repeat center; width: 37px; height: 38px; cursor: pointer; outline: none; }
.basket{
    position: fixed; z-index: 1000; background-color: #000; background-size: 50%; right: 0px; top:0px; width: 64px; height: 64px; 
    cursor: pointer; background-image: url(../images/basket.png); background-repeat: no-repeat; background-position: 50% 75%;
}
.basketNo{ position: absolute; z-index: 1001; color:#fff; font-weight:bold; display: block; text-align: center; width:100%; padding-top:10px; }
.grid-view{ margin:10px 10px; float:left; background: url(../images/view-grid.png) no-repeat center; width: 50px; height: 50px; cursor: pointer; }
.list-view{ margin:10px 0px; float:left; background: url(../images/view_list.png) no-repeat center; width: 50px; height: 50px; cursor: pointer; }
.grid-view.selected, .list-view.selected{ border:2px solid #3f51b5; }
.cardContent{ padding:0px; }
.MuiGrid-item-78.gridView3, .MuiGrid-item-78.gridView12{ margin-bottom:30px; }
.gridView3 .cardContent{ padding:20px; }
.gridView12 .cardContent{ padding:20px 0px; }
.gridView12 .cardImage{ width:30%; float:left; }
.gridView12 .cardContent{ width:70%; float:left; }
.cardImage>img{ display: block; margin-left: auto; margin-right: auto; }
.fc-red{ color:#ca3d57;}

.btn{ padding:10px 20px; color:#fff; font-weight: 600; background:#1b1a20; cursor:pointer; }
.btn:hover{ color:#3f51b5; }
.subtitle{ min-height:20px; font-size:22px; font-weight: 600; margin-bottom:20px; }
.keyinfo{ margin-bottom:20px; min-height:60px; font-size:16px; }
.gridView3 .subtitle{ min-height:60px; }
.gridView3 .keyinfo{ margin-bottom:20px; min-height:160px; }
.footerBottomTermsLink{ margin-top:30px; text-align: center; padding-top: 40px; }
.footerBottomTermsLink>a{ text-decoration: none; color: #666666; font-size: 16px; }
.footerBottomSection{ text-align: center; padding: 15px 10px; font-size: 14px; color: #666666;}


.FormCenter { margin:50px auto; max-width:650px; }
.LogIn_Aside { background-color: #66DAC7; }
.LogIn_Form { background-color: #2E4158; padding: 25px 40px; overflow: auto; }
.PageSwitcher { display: flex; justify-content: flex-end; margin-bottom: 10%; }
.PageSwitcher_Item { background-color: #4C5D72; color: #9DA6B1; padding: 10px 25px; cursor: pointer;  font-size: .9em; border: none; outline: none; 
  display: inline-block; text-decoration: none; }
.PageSwitcher_Item--Active { background-color: #5ED0C0; color: white; }
.PageSwitcher_Item:first-child { border-top-left-radius: 25px; border-bottom-left-radius: 25px; }
.PageSwitcher_Item:last-child { border-top-right-radius: 25px; border-bottom-right-radius: 25px; }
.FormTitle { color: #707C8B; font-weight: 300; margin-bottom: 50px; }
.FormTitle_Link { color: #707C8B; text-decoration: none; display: inline-block; font-size: 1.7em; margin: 0 10px; padding-bottom: 5px; }
.FormTitle_Link:first-child { margin-left: 0; }
.FormTitle_Link--Active { color: white; border-bottom: 1px solid #199087; }
.FormField { margin-bottom: 40px; }
.FormField_Label { display: block; text-transform: uppercase; font-size: .9em; /*color: white;*/ }
.FormField_Input { width: 85%; background-color: transparent; border: none; /*color: white;*/ outline: none; border-bottom: 1px solid #445366; font-size: 1em;
  font-weight: 300; padding-bottom: 10px; margin-top: 10px; }
.FormField_Input::placeholder { color: #616E7F; }
.FormField_Button { background-color: #52C4B9; /*color: white;*/ border: none; outline: none; border-radius: 25px; padding: 15px 70px; font-size: .8em; font-weight: 500; }
.FormField_Link { color: #66707D; text-decoration: none; display: inline-block; border-bottom: 1.5px solid #225E62; padding-bottom: 5px; }
.FormField_CheckboxLabel { color: #646F7D; font-size: .9em; }
.FormField_Checkbox { position: relative; top: 1.5px; }
.FormField_TermsLink { color: white; border-bottom: 1px solid #199087; text-decoration: none; display: inline-block; padding-bottom: 2px; margin-left: 5px; }